@font-face{
    font-family: "quicksand";
    src: url("fonts/quicksand/Quicksand-Regular.otf");
}

body{
	margin: 1% 6% 6% 5%;
	font-family: "quicksand";
	font-size: 24px;
}

a:hover {
	font-weight: bold;
}


/* Header de la page  - EN/FR*/
header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 4%;
	/* border: 1px solid chocolate; */
}

nav a {
	text-decoration: none;
}

nav #pageActuelle:link, #pageActuelle:visited {
	color: rgb(66,160,241);
	font-weight: bold;
}

nav #autrePage:link, #autrePage:visited {
	color: grey;
}


/* Header du CV */
#header{
	display: flex;
	justify-content: space-between;
	font-size: 26px;
}

#header a{
	color: purple;
}

	/* Développeuse Python Junior */
h1 {
	font-size: 30px;
	text-align: center;
	/* text-decoration: underline; */
	margin-top: 60px;
	margin-bottom: 100px;
}


/* Titre et encadré des sections */
h2 {
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	border: 1px black solid;
	padding: 4px;
	background-color: rgb(66,160,241);
}


mark {
	font-weight: bold;
	background-color: rgb(255,255,255);
}


/*Les différentes sections du CV*/

	/*Compétences*/
.competences {
	display: grid;
	grid-gap: 50px;
	grid-template-columns: auto auto auto;
}


#langages span {
	font-style: italic;
	font-size: 18px;
}

#langages .underline {
	text-decoration: underline;
}

	/*Formation*/
#formation {
	display: grid;
	grid-template-columns: 1fr 15fr;
}

#formation a:visited {
	color: black;
}


	/*Expériences*/
.exp div {
	margin-bottom: 50px;
}

.exp div p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.exp .date {
	margin-bottom: 20px;
	font-style: italic;
}

span.tech {
	text-decoration: underline;
}


		/* flèches */
.exp img {
	height: 20px;
	width: 20px;
}


	/*Centres d'intérêts */
#interets span {
	text-decoration: underline;
}


#interets .date {
	font-weight: normal;
	font-style: italic;
	font-size: 22px;
	margin-bottom: 2%;
}


/*Gestion des pages*/
.competences_page-break, .exp_page-break {
	page-break-after: always;
}

/* #stageM2_second-page {
	margin-top: 50px;
} */


/*Media Queries*/
@media all and (max-width: 992px)
{
	body{
		margin: 1% 5% 5% 5%;
		font-size: 16px;
	}

	header {
		font-size: 18px;
	}

	#header {
		font-size: 18px;
	}

	#header img {
		width: 120px;
		height: auto;
	}

	h1 {
		font-size: 20px;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 50px;
	}

	h2 {
		font-size: 18px;
		text-align: center;
		text-transform: uppercase;
		border: 0.5px black solid;
		padding: 1px;
		background-color: rgb(66,160,241);
	}

	.exp img {
		height: 15px;
		width: 15px;
	}

	#interets .date, #langages span {
		font-weight: normal;
		font-style: italic;
		font-size: 12px;
	}
}

@media all and (max-width: 480px)
{
	body{
		margin: 4% 6% 6%;
		font-size: 12px;
	}

	#header {
		font-size: 14px;
	}

	#header img {
		display: none;
	}

	h1 {
		font-size: 16px;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 50px;
	}

	h2 {
		font-size: 14px;
		text-align: center;
		text-transform: capitalize;
		border: 0.5px black solid;
		padding: 2px;
		background-color: rgb(66,160,241);
	}

	.competences {
		grid-gap: 30px;
	}

	/* #stageM2_second-page {
		margin-top: 20px;
	} */

	.exp div {
		margin-bottom: 20px;
	}

	.exp div p {
		margin-top: 3px;
		margin-bottom: 3px;
	}

	.exp .date {
		margin-bottom: 8px;
	}

	.exp img {
		height: 10px;
		width: 10px;
	}

	#interets .date, #langages span {
		font-weight: normal;
		font-style: italic;
		font-size: 10px;
	}
}









