@font-face{
    font-family: "quicksand";
    src: url("fonts/quicksand/Quicksand-Regular.otf");
}

body{
	margin: 10% 20%;
	font-family: "quicksand";
	font-size: 20px;
}

header{
	display: flex;
	justify-content: space-between;
	font-size: 22px;
}

a {
	color: purple;
}

a:hover {
	font-weight: bold;
}

h1 {
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	margin-top: 30px;
}

h1 + div {
	font-size: 30px;
	font-style: italic;
	text-align: center;
	margin-bottom: 60px;

}

h2 {
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
	border: 1px blue solid;
	background-color: rgb(66,160,241);
}



/*Les différentes sections du CV */
#formation {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 15fr;
}


#competences {
	grid-gap: 25px;
	display: flex;
}


#exp div {
	margin-bottom: 50px;
}

#exp div p {
	margin-top: 5px;
	margin-bottom: 5px;
}

#exp div.date {
	margin-bottom: 20px;
	font-style: italic;
}

#exp img {
	height: 20px;
	width: 20px;
}

#langages span {
	font-style: italic;
	font-size: 16px;
}

mark {
	font-weight: bold;
	background-color: rgb(255,255,255);
}

span.tech {
	text-decoration: underline;
}